<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ApiIntegrationWebApp</title>
    <link rel="stylesheet" href="~/lib/pico/pico.min.css" />
</head>
<body>
    <main role="main">
        @RenderBody()
    </main>
    @await RenderSectionAsync("Scripts", required: false)
    <style>
        article{
            max-width: 400px;
            margin: auto;
            padding: 30px 27px;
        }
    </style>
</body>
</html>
